<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{{glob.head()}}</title>
        <link rel="shortcut icon" href="/static/logo.png" type="image/png">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/js/bootstrap.min.css" rel="stylesheet">
        <link href="/static/js/bootstrap.dark.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="/static/js/html5shiv.min.js"></script>
            <script src="/static/js/respond.min.js"></script>
        <![endif]-->
        <link href="/static/highlight.css" rel="stylesheet">
        <link href="/static/css.css" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar bg-dark">
                <img id="logo" class="nav-logo" src="/static/logo.png">
                <ul class="navbar-text">
                    <li>{{glob["meta"]["TITLE"].html()|safe}}</li>
                    <li>(c) {{glob["meta"]["AUTHOR"].html()|safe}}</li>
                    <li>github: {{glob["meta"]["GITHUB"].html()|safe}}</li>
                </ul>
                <span class="navbar-brand dump">{{env.head()}}</span>
                <pre id="localtime">
                </pre>
            </nav>
            {% block body %}{% endblock %}
        </div>
    </body>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/socket.io.min.js"></script>
    <script src="/static/socket.js"></script>
    <script src="/static/js/peg.min.js"></script>
    <script src="/static/highlight.js"></script>
    {% block script %}{% endblock %}
</html>
